body {
    max-width: 1920px;
    min-width: 1280px;
    font-family: 'Arial';
    background: rgba(255, 255, 255, 0.4) url('/img/bg.png') no-repeat top / 1920px 1080px; 
}

body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(2, 15, 32, 0.4);
}

.btn {
    position: absolute;
    padding: 11px 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.1px;
    color: #fff;
    border: none;
    border-radius: 40px;
    background: none;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.25s ease-in-out;
}

.btn:hover {
    opacity: 0.8;
}

.btn:nth-child(1) {
    top: 282px;
    left: 580px;
    background-color: #3877EE;
}

.btn:nth-child(2) {
    top: 714px;
    left: 446px;
    background-color: #3877EE;
}

.btn:nth-child(3) {
    top: 225px;
    left: 1373px;
    background-color: #3877EE;
}

.btn:nth-child(4) {
    top: 475px;
    left: 1414px;
    background-color: #3877EE;
}

.btn:nth-child(5) {
    top: 629px;
    left: 1081px;
    background-color: #3877EE;
}

.btn:nth-child(6) {
    bottom: 326px;
    left: 1593px;
    background-color: #3877EE;
}

.btn:nth-child(7) {
    top: 482px;
    left: 687px;
    background-color: #6ABF4B;
}

.btn:nth-child(8) {
    top: 404px;
    left: 1148px;
    background-color: #6ABF4B;
}

.btn:nth-child(9) {
    bottom: 370px;
    left: 1306px;
    background-color: #6ABF4B;
}

.btn:nth-child(10) {
    bottom: 249px;
    left: 1107px;
    background-color: #6ABF4B;
}